
.forgotpassword-form .form-control{
    background-color: #ffffff;
    border: 1px solid #FA6B6B;
    padding: 15px;
}

.form-lable{
    color: #FA6B6B;
}

.forgotpassword-heading{
    color:#1E2772 ;
}
