.footer-bar p {
  margin: 0;
  padding: 0;
  border: 0;
}

.schedule-card {
  width: 60%;
  margin-left: 20%;
  /* margin-top: 60px; */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.schedule-card-content {
  background: linear-gradient(to right, lightblue, white);
}

.header-bar {
  font-size: 20px;
}
.header-bar p {
  margin: 0%;
  border: 0;
}

.middle-bar {
  font-size: 20px;
}
.middle-bar a {
  font-size: 10px;
  margin-left: 10px;
}
.duration {
  color: brown;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.schedule-card img {
  max-width: 100%;
  height: auto;
}
.ConButton {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.ConButtonST {
  background-color: hsl(0, 93%, 70%);
  color: aliceblue;
  border: 0ch;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (max-width: 1440px) {
  .schedule-card {
    width: 70%;
    margin-left: 15%;
  }

  .schedule-card-content {
    padding: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .schedule-card {
    width: 80%;
    margin-left: 10%;
  }

  .schedule-card-content {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .schedule-card {
    width: 90%;
    margin-left: 5%;
  }

  .schedule-card-content {
    padding: 8px;
  }
}
@media screen and (max-width: 920px) {
  .schedule-card {
    width: 90%;
    margin-left: 5%;
  }

  .schedule-card-content {
    padding: 8px;
  }

  .schedule-card img {
    max-width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 888px) {
  .schedule-card {
    width: 90%;
    margin-left: 5%;
  }

  .schedule-card-content {
    padding: 8px;
  }

  .schedule-card-content a {
    font-size: 10px;
  }
  .schedule-card img {
    max-width: 70%;
    height: auto;
  }
}
@media screen and (max-width: 785px) {
  .schedule-card {
    width: 95%;
    margin-left: 2.5%;
  }

  .schedule-card-content {
    padding: 5px;
  }
  .schedule-card-content a {
    font-size: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 650px) {
  .schedule-card {
    width: 95%;
    margin-left: 2.5%;
  }

  .schedule-card-content {
    padding: 5px;
  }
  .middle-bar a {
    font-size: 10px;
    margin-left: 10px;
  }
  .middle-bar p {
    font-size: 20px;
  }
  .schedule-card img {
    display: none;
  }
  .duration {
    color: brown;
    font-weight: 300;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .cringe p {
    font-size: 10px;
  }
  .header-bar {
    color: brown;
  }
}
@media screen and (max-width: 425px) {
  .schedule-card {
    width: 95%;
    margin-left: 2.5%;
  }

  .schedule-card-content {
    padding: 5px;
  }
  .middle-bar a {
    font-size: 10px;
    margin-left: 10px;
  }
  .middle-bar p {
    font-size: 14px;
  }
  .schedule-card img {
    display: none;
  }

  .cringe p {
    padding: 20;
    font-size: 10px;
  }
  /* .header-bar {
    color: brown;
  } */
  .footer-bar {
    flex-direction: column;
    align-items: flex-start;
  }
}
