.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control textarea {
  display: block;
  width: 100%;
  height: 20rem;
  border: 1px solid #ef6f6f;
  background: hsl(0, 0%, 78%);
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control textarea:focus {
  outline: none;
  background: hsl(0, 0%, 100%);
  border-color:  hsl(224, 69%, 24%);
}

.form-control.invalid textarea {
  border-color: red;
  background-color: aliceblue;
}

.form-control.invalid label {
  color: red;
}


