.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: 
    "header"
    "search"
    "track";
    
}

.p1{
    color: #A1A9C3;
    font-size: 15.63px;
    font-weight: 700;
    margin:80px 0px 0px 0px;

}

.h1,.p1{
        display: flex;
        justify-content: center;
        align-items: center;
}

.search,.track{
    display: flex;
    justify-content: center;
    align-items: center;

}

.map{
    width: 90%;
    height: 90%;
    background-color: #132968;
}