.content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-image {
  max-width: 100%;
  height: 100vh;
}
.track-button {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.header {
  text-align: center;
}

.p1 {
  color: #a1a9c3;
  font-size: 15.63px;
  font-weight: 700;
}

.h1 {
  margin-top: 10px;
}

.search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.t1 {
  min-width: 300px;
  width: 100%;
  max-width: 600px;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #132968;
  padding: 20px;

  color: white;
}

.location-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last-left-stop,
.next-location {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: 10px;
  }

  .image-section {
    margin-bottom: 5px;
  }

  .search {
    flex-direction: column;
    gap: 10px;
  }

  .t1 {
    min-width: 100%;
  }

  .track-image {
    max-width: 100%;
    height: max-content;
  }

  .track {
    width: 100%;
    padding: 15px;
  }
}
