body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#bus-schedule-container {
  position: relative;
  min-height: 100vh;
  background: url('../../images/busBG.jpg') no-repeat center center;
  background-size: cover;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.931); /* Adjust opacity here */
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white; /* Adjust text color if necessary */
}
