/* CardButton.css */

.card-button {
  position: relative;
  background: url("../../logo/Rectangle\ 3.png");
  background-size: cover;
  background-position: center;
  margin: 20px;
  border: none;
  padding: 15px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  width: 400px; /* Set the desired width */
  height: 250px; /* Set the desired height */
}

.card-button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button-typography {
  font-size: 20px;
  color: #132968;
  margin-right: 10px;
}

.card-button-icon {
  width: 100%; /* Set the icon size as a percentage of the card button size */
  height: auto; /* Maintain aspect ratio */
}

.card-button {
  transition: transform 0.3s ease-in-out;
}

.card-button:hover {
  transform: scale(1.05);
}
