*{
    padding: 0;
    margin: 0;
}
.newpassword{
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "logo" 
    "newpassword-main" ;
    height: 100vh;
    background-color:#F1F3F6 ;
    padding: 2%;
}

.logo{
    grid-area: logo;
}

.newpassword-main{
    grid-area: newpassword-main;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-areas: 
    "newpassword-heading"
    "newpassword-form"
    "save-button";
    background-color: white;
    padding: 2%;
    justify-content: center;
    margin: 5%;
    row-gap: 2%;
}

.newpassword-heading{
    grid-area: newpassword-heading;
}

.newpassword-form{
    grid-area: newpassword-form;
}

.save-button Link{
    grid-area: send-otp-button;
    display: flex;
    justify-self: center;
    width: 100%;
}