.main-container-hash {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-cards-hash {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}
.welcomeAdmin{
  color: black;
  display: flex;
  align-items: center;
}
.card-hash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  height: 10rem;
}
.card-hash {
  transition: transform 0.4s ease-in-out;
}

.card-hash:hover {
  transform: scale(1.02);
}

.card-hash:first-child {
  background-color: #132968;
}

.card-hash:nth-child(2) {
  background-color: #652f8d;
}

.card-hash:nth-child(3) {
  background-color: #2e7d32;
}

.card-hash:nth-child(4) {
  background-color: #9d2062;
}

.card-inner-hash {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner-hash > .card_icon {
  font-size: 34px;
}
@media screen and (max-width: 768px) {
  .main-cards-hash {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts-hash {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
