*{
    padding: 0;
    margin: 0;
}

.activities{
    width: 100%;
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    white-space: nowrap;
    max-width: 90%;
    margin: auto;
    overflow-x: auto;
    row-gap: 1%;
 }

 /*.activity{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
    background-color: rgba(149, 156, 164, 0.2);
    max-width: 100%;
    margin-top: 2%;
 }

 

 .desc{
   width: 50%;
 }


 .status{
   background-color: white;
   color: white;
   padding: 5px;
   border-radius: 5px;
   margin-right: 3%;
   padding: 1%;
 }

 .live{
   background-color: rgb(10, 198, 10);
 }

 .draft{
   background-color: rgb(104, 104, 100);
 }

 .done{
   background-color: rgb(237, 65, 65);
 }
 
 .dlt-btn{
   color: red;
 }*/

 .activity{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
  "desc action" ;
  column-gap: 2%;
  background-color: rgba(149, 156, 164, 0.2);
    max-width: 100%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 1%;
 }

 .activity:hover{
  background-color:#132968 ;
  color: white;
}
 
.action Button:hover{
  color: white;
}

 .desc{
  grid-area: desc;
 }

 .action{
  grid-area: action;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
