#goals {
  max-width: 100%;
  margin: 2rem auto;
}

#goal-form {
  height: 27rem;
  margin: 4rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.head {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: hsl(0, 93%, 70%);
}

.rep {
  /* width:50%;*/
  height: 27rem;
  margin: 4rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: hsl(224, 69%, 24%);
  border-radius: 10px;
}

.grid {
  height: 27rem;
  /* display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 50%; */
}
.but {
  padding-top: 0.5rem;
}
.lab {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(0, 93%, 70%);
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (max-width: 400px) {
  .head {
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: hsl(0, 93%, 70%);
  }
}
