.buttondelay {
  display: flex;
  flex: auto;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid hsl(0, 93%, 70%);
  border-radius: 10px;
  color: hsl(224, 69%, 24%);
  background: #fa6b6b;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #f4f3f3;
  border-color: #faf7f9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
