.common button{
    background-color: #FA6B6B;
    color: white;
    padding: 10px;
    border: #FA6B6B;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 8px 10px 1px rgba(243, 138, 107, 0.6);
}