*{
    padding: 0;
    margin: 0;
}

.activity-history{
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-areas: 
    "nav-bar history";
    height: 100vh;
    max-width: 100%;
    gap: 1%;
}

.nav-bar{
    grid-area: nav-bar;
}

.history{
    grid-area: history;
    display: grid;
    grid-template-rows: 0.5fr 7fr;
    grid-template-areas:
    "top"
    "bottom";
    gap: 2%;
    padding: 3%;
    max-width: 100%;
}

.top{
    grid-area: top;
}


.bottom{
    grid-area: bottom;
    display: flex;
    flex-direction: column;
   
    /*background-color: rgb(94, 144, 204,0.2);*/
  
    border-radius: 10px;
   /* border: 1px solid  #FA6B6B ;*/
}