*{
    padding: 0;
    margin: 0;
}
.passwordVerification{
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "logo" 
    "passwordVerification-main" ;
    height: 100vh;
    background-color:#F1F3F6 ;
    padding: 2%;
}

.logo{
    grid-area: logo;
}

.passwordVerification-main{
    grid-area: passwordVerification-main;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: 
    "passwordVerification-heading"
    "passwordVerification-form"
    ;
    background-color: white;
    padding: 2%;
    justify-content: center;
    margin: 5%;
    row-gap: 2%;
}

.passwordVerification-heading{
    grid-area: passwordVerification-heading;
}

.passwordVerification-form{
    grid-area: passwordVerification-form;
    
}

