*{
    padding: 0;
    margin: 0;
}
.forgotpassword{
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "logo" 
    "forgotpassword-main" ;
    height: 100vh;
    background-color:#F1F3F6 ;
    padding: 2%;
}

.logo{
    grid-area: logo;
}

.forgotpassword-main{
    grid-area: forgotpassword-main;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-areas: 
    "forgotpassword-heading"
    "forgotpassword-form"
    "send-otp-button";
    background-color: white;
    padding: 2%;
    justify-content: center;
    margin: 5%;
    row-gap: 2%;
}

.forgotpassword-heading{
    grid-area: forgotpassword-heading;
}

.forgotpassword-form{
    grid-area: forgotpassword-form;
}

.send-otp-button Link{
    grid-area: send-otp-button;
    display: flex;
    justify-self: center;
    width: 100%;
}