.card-button {
    position: relative;
    background: url("BoxImg.png");
    background-size: cover;
    background-position: center;
    margin: 20px;
  
    padding: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    border-color: palevioletred;
    width: 350px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    
  }
  
  .card-button-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
   
  }
  

  
  .card-button-icon {
    width: 90%; /* Set the icon size as a percentage of the card button size */
    height: auto; /* Maintain aspect ratio */
  }
  
  .card-button-typography {
    font-size: 15px;
    color: #132968;
    margin-right: 10px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: contents;
  }

  .card-button {
    transition: transform 0.3s ease-in-out;
  }
  
  .card-button:hover {
    transform: scale(1.05);
  }
  