.email-verification-form .form-control{
    background-color: #ffffff;
    border: 1px solid #FA6B6B;
    padding: 15px;
}

.form-lable{
    color: #FA6B6B;
}

.resent-otp h5 ,.email-verification-heading h5{
    color:#1E2772 ;
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 15px;
}



.email-verification-form {
    display: flex;
    justify-content: center;
    align-items: center; 
}
 
.digit {
    justify-content: space-around;
    width: auto;
    padding-right: 30px;
    width: 100px;
}

.digit input{
    font-size: 20px;
    color:#1E2772 ;
    font-weight: bold;
}

.resent-otp{
    margin-top: 5%;
}

.resent-otp button{
    background-color: white;
    color: #1E2772;
    font-weight: bold;
}




