.body{
    display:flex;
    padding-top: 15%;
    padding-left: 20%;
    padding-bottom: 10%;
    background-color: #F1F3F6;
}

.h1{
    color:#132968;
    font-weight: 700;
    font-size: 37.813px;
    text-align: left;
    margin-right: 90px;
}

.t1{
    color: #132968;
    font-weight: 400;
    text-align: left;
    margin-top: -30px;
    margin-bottom: 50px;
}

.m1{
    margin-left: 10%;
    width: 500px;
    height: 373px;
}

.button{
    width: 350px;
    height: 60px;
    margin-left: 30%;
    border-radius: 59px;
    color: #132968;
    font-weight: 500;
    font-size: 18px;
    background-color: #bfedf9;
}

.a1{
    color: #132968;
    padding-left: 350px;
    font-weight: 400;
}