.card-box {
  position: relative;
  background: url("../../images/BoxImg.png");
  background-size: cover;
  background-position: center;
  margin: 20px;
  border: none;
  padding: 15px;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  width: 400px; /* Set the desired width of cardbox */
  height: 300px; /* Set the desired height of cardbox */
}

.card-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-box-icon {
  width: 100%; /* Set the icon size as a percentage of the card button size */
  height: auto; /* Maintain aspect ratio */
}

.card-box-typography {
  font-size: 20px;
  color: #132968;
  margin-right: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: contents;
}

.card-box {
  transition: transform 0.3s ease-in-out;
}

.card-box:hover {
  transform: scale(1.05);
}

