.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control textarea:focus {
  outline: none;
  background: hsl(0, 2%, 73%);
  border-color:  hsl(224, 69%, 24%);
}

.form-control.invalid textarea {
  border-color: red;
  background-color: aliceblue;
}

.form-control.invalid label {
  color: red;
}


.on{
  float: right;
 margin-top: -20px;
 padding-bottom: 20px;
}



@media screen and (max-width: 600px) {
  .button-text {
    color: transparent;
  }
  .but-add{
    size: 10px;
  }
  
}

