.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.title {
  color: #071d40;
  font-family: fantasy;
  font-size: 50px;
}

@media (max-width: 868px) {
  .container {
    flex-direction: column;
  }

  .title {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
  }
}
