.form-control{
    background-color: white;
    border:2px solid rgb(241, 243, 246);
    padding: 15px;
}

.input{
    padding-top: 10px;
}

input::placeholder{
    color:#f1f3f6;
    opacity: 0.5;
}

label{
    color: #1E2772;
}

.other-option{
    display: flex;
    justify-content: space-between;
}

.name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "fn ln";
    gap: 0px;
}

.fn{
    grid-area: fn;
}

.ln{
    grid-area: ln;
}

.error{
    font-size: 13px;
    color: #ca0303;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
