*{
    padding: 0;
    margin: 0;
}
.Email-Verification{
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "logo" 
    "email-verification-main" ;
    height: 100vh;
    background-color:#F1F3F6 ;
    padding: 20px;
}

.logo{
    grid-area: logo;
}

.email-verification-main{
    grid-area:email-verification-main;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 1fr;
    grid-template-areas: 
    "email-verification-heading"
    "email-verification-form"
    "send-otp-button";
    background-color: white;
    padding: 40px;
    justify-content: center;
    margin: 50px;
}

.email-verification-heading{
    grid-area:email-verification-heading;
}

.email-verification-form{
    grid-area: email-verification-form;
}

.otp-verify-button{
    grid-area: otp-verify-button;
    
    width: 100%;
}

.otp-timer{
    grid-area: otp-timer;
}