*{
    padding: 0;
    margin: 0;
}

.GeneralUserProfileIcon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "profile-icon user-name";
    gap: 1%;
}

.profile-icon{
    grid-area: profile-icon;
}

.user-name{
    grid-area: user-name;
}

.user-name .uname{
   color: #FA6B6B;
}