* {
  padding: 0;
  margin: 0;
}
.signup-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-image  right-form";
  height: 100vh;
}

.left-image {
  grid-area: left-image;
  background-color: #fa6b6b;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-areas:
    "logo"
    "main-image";
  padding: 2%;
}

.logo {
  grid-area: logo;
}

.main-image {
  grid-area: main-image;
  padding: 0 2% 0 2%;
}

.right-form {
  grid-area: right-form;
  background-color: white;
}

.right-form {
  display: grid;
  grid-template-rows: 1fr 9fr 2fr ;
  grid-template-areas:
    "signup-form-heading"
    "signup-form"
    "option"
   ;
}

.signup-form-heading {
  grid-area: signup-form-heading;
  padding: 2% 2% 0 2%;
}

.signup-form {
  width: auto;
  grid-area: signup-form;
  padding: 0 2% 0 2%;
  justify-content: space-around;
}

.option {
  grid-area: option;
}



@media only screen and (max-width: 1024px) {
  .signup-page {
    grid-template-columns: 1fr; /* Change layout to single column */
    display: block;
  }
  .left-image {
    display: none;
  }
}
