.container{
    height:auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "leftside main";
}

.leftside{
    background-color:#F1F3F6;
    height: auto;
}

.i1{
    margin: 40% 0% 30% 10%;
    width:80%;
    height:auto;
    
}

.main{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    " heading"
      "form"
      "form"
      "form"
      "button";
}

.heading,.form{
    display: flex;
    justify-content: center;
    align-items: center;

}