*{
    padding: 0;
    margin: 0;
}
.App{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "Left-Form  Right-Image" ;
    height: 100vh;
}

.Left-Form{
    grid-area: Left-Form;
    background-color: white;
    padding: 5%;
}

.Right-Image{
    grid-area: Right-Image;
    background-color: #F1F3F6;
}

.LoginBusEmploy{
    display: grid;
    grid-template-rows: 0.5fr 1fr 3fr ;
    grid-template-areas:    
    "logo"
    "form-heading"
    "login-form"
    ;
    gap: 0.5em;
    padding:10%;
 }
 
 .logo{
     grid-area: logo;
 }
 
 .form-heading{
    grid-area: form-heading;
    margin-top: 5rem;
 }

 .login-form{
     grid-area: login-form;
     
 }
 