.newpassword-form .form-control{
    background-color: #ffffff;
    border: 1px solid #FA6B6B;
    padding: 15px;
    width: 100%;
}

input .form-label{
    color: #FA6B6B;
}

.newpassword-heading{
    color:#1E2772 ;
}

.button{
    margin-top: 10%;
}




